{% extends "::layout.html.twig" %}

{% block content %}
    <div class="container nl-content">
        <div class="col-sm-9">
            <div class="col-sm-8 col-sm-offset-2 nl-form">
                <h2 class="nl-heading">{{ 'nilead.account_reset_success' | trans }}</h2>
                {% block fos_user_content %}
                    <h3>
                        {{ 'nilead.check_email' | trans({'%email%': email}) }}
                    </h3>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
