<form action="{{ path('nilead.account.frontend.account.resetting.reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'nilead.submit' | trans }}" />
    </div>
</form>
