{% extends '::layout.html.twig' %}
{% block content %}
    <div class="container nl-content">
        <div class="col-sm-9">
            <h3>{{ 'nilead.account_created' | trans }}</h3>
            <hr>

            <div>
                {#{{ 'nilead.registration.check_email'| trans({'%email%': user.email}) }}#}
            </div>

        </div>
    </div><!-- .nl-content -->
{% endblock %}
