{% block subject %}
    {% autoescape false %}
    {{ 'nilead.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {% if (currentPassword is defined) and (currentPassword != null) %}
        Your Password : {{ currentPassword }}
    {% endif %}
    {{ 'nilead.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
